@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400. .900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1 500؛ 1,700;1,900&display=swap')

*{
    font-family: 'Poppins'، sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
  padding: 30px;
  background-image: url(data:image/png;base64,...==);} 
a{ 
  color:#000;
}
ul{ 
  list-style-type: none;
  margin-top: -20px;
}

header {
    background-color: beige;
    width: 97%;
    position: fixed;
    z-index: 989;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px ;
}

.logo{
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: brown;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: rgb(245, 212, 171);
}


section {
    padding: 100PX 200PX;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/IMG_1.JPG.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color:brown;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color:rgb(221, 221, 179) ;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: brown;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: brown;
    background-color: rgb(214, 214, 183);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 300;
    display: inline-block;
    padding: 0.9375em 1.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s;
}

.main-btn:hover {
    background-color: antiquewhite;
    transform: scale(1.1);
}

.title {
    display: flex;
    justify-content: center;
    color: brown;
    font-size: 2.2em;
    font-weight: 800;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: aliceblue;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/ 20%);
}

.projects {
    background-color: rgb(199, 199, 167);
}

.project .content{
    margin-top: 30px;
}

.perfumes-card {
    border: 1px solid bisque;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.perfumes-card:hover {
    transform: scale(1.1);
}

.perfumes-image img{

    width: 100%;
}

.perfumes-info {
    padding: 1em;
}

.perfumes-category {
    font-size: 0.8em;
    color: rgb(255, 255, 255);
}

.perfumes-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}